<template>
    <modal title="Create Fundraiser" id="create-fundraiser-modal">
        <div slot="body">
            <text-input id="create-fundraiser-name" title="Name" placeholder="Enter Fundraiser Name" v-model="name" :invalid-feedback="fundraiser_name_feedback" :is-valid="fundraiser_is_valid" @input="fundraiser_is_valid=true"></text-input>
            <text-area id="create-fundraiser-description" title="Description" placeholder="Enter Fundraiser Description" :rows="5" v-model="description"></text-area>
            <div class="alert alert-danger" role="alert" v-if="show_alert">
                Unable to create fundraiser
            </div>
        </div>
        <div slot="footer">
            <primary-button :action="create_fundraiser" :loading="loading">Create</primary-button>
        </div>
    </modal>
</template>
<script>
export default {
    data() {
        return {
            name: '',
            description: '',
            fundraiser_is_valid: true,
            show_alert: false,
            fundraiser_name_feedback: 'Email is required',
            loading: false
        };
    },
    methods: {
        create_fundraiser() {
            this.loading = true;
            this.show_alert = false;

            if (!this.name) {
                this.fundraiser_is_valid = false;
                this.fundraiser_name_feedback = 'Name required';
            }

            if (this.fundraiser_is_valid) {
                axios
                    .put('/fundraiser', {
                        name: this.name,
                        description: this.description
                    })
                    .then(
                        response => {
                            Event.fire('fundraiser-created', response.data);
                            $('#create-fundraiser-modal').modal('hide');
                            this.name = '';
                            this.description = '';
                            this.loading = false;
                        },
                        error => {
                            if (error.response.status === 409) {
                                this.fundraiser_is_valid = false;
                                this.fundraiser_name_feedback = 'Fundraiser already exists';
                            }
                            this.show_alert = true;
                            this.loading = false;
                        }
                    );
            } else {
                this.loading = false;
            }
        }
    }
};
</script>
