<template>
    <modal title="Create Review" id="create-review-modal">
        <div slot="body">
            <rating :rating="rating" :update-rating="update_rating" :is-valid="rating_is_valid" invalid-feedback="Select a rating"></rating>
            <text-input id="create-review-title" title="Title" placeholder="Enter title" invalid-feedback="Must enter a title" :is-valid="title_is_valid" @input="set_title_to_valid" v-model="title"></text-input>
            <text-area id="create-review-content" title="Review" placeholder="Enter review" :rows="5" invalid-feedback="Must enter review" :is-valid="content_is_valid" @input="set_content_to_valid" v-model="review"></text-area>
            <text-input id="create-review-email" title="Email" placeholder="Enter your email" :invalid-feedback="email_feedback" :is-valid="email_is_valid" type="email" @input="email_is_valid=true" v-model="email"></text-input>
            <div class="alert alert-danger" role="alert" v-if="show_alert">
                Unable to create review
            </div>
        </div>
        <div slot="footer">
            <primary-button :action="create_review" :loading="loading">Create</primary-button>
        </div>
    </modal>
</template>
<script>
export default {
    props: {
        fundraiserId: {
            type: Number,
            required: true
        }
    },

    data() {
        return {
            title: '',
            email: '',
            review: '',
            rating: 0,
            email_is_valid: true,
            title_is_valid: true,
            content_is_valid: true,
            email_feedback: 'Invalid Email',
            rating_is_valid: true,
            show_alert: false,
            loading: false
        };
    },

    methods: {
        create_review() {
            this.loading = true;
            this.show_alert = false;
            if (!this.test_email_is_valid()) {
                this.email_is_valid = false;
                this.email_feedback = 'Invalid Email';
            }

            if (!this.review) {
                this.content_is_valid = false;
                $('#create-review-content').addClass('is-invalid');
            }

            if (!this.title) {
                this.title_is_valid = false;
                $('#create-review-title').addClass('is-invalid');
            }

            if (!this.rating) {
                this.rating_is_valid = false;
            }

            if (this.email_is_valid && this.content_is_valid && this.title_is_valid && this.rating_is_valid) {
                axios
                    .put(`/reviews/${this.fundraiserId}`, {
                        title: this.title,
                        email: this.email,
                        rating: this.rating,
                        review: this.review
                    })
                    .then(
                        response => {
                            this.loading = false;
                            Event.fire('review-created', response.data);
                            $('#create-review-modal').modal('hide');
                            this.title = '';
                            this.review = '';
                            this.email = '';
                            this.rating = 0;
                        },
                        error => {
                            this.loading = false;
                            if (error.response.status === 409) {
                                this.email_is_valid = false;
                                this.email_feedback = 'Review with given email already exists';
                            }
                            this.show_alert = true;
                        }
                    );
            } else {
                this.loading = false;
            }
        },

        test_email_is_valid() {
            var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(this.email).toLowerCase());
        },

        set_title_to_valid() {
            this.title_is_valid = true;
            $('#create-review-title').removeClass('is-invalid');
        },

        set_content_to_valid() {
            this.content_is_valid = true;
            $('#create-review-content').removeClass('is-invalid');
        },

        update_rating(index) {
            this.rating = index;
            this.rating_is_valid = true;
        }
    }
};
</script>
