<template>
    <div class="alert alert-primary mt-2" role="alert">
        <div class="row justify-content-center mb-2">
            Don't see the fundraiser you're looking for?
        </div>
        <div class="row justify-content-center">
            <primary-button data-toggle="modal" data-target="#create-fundraiser-modal">Create Fundraiser</primary-button>
        </div>
    </div>
</template>
