<style lang="scss" scoped>
.list-group-item:hover {
    background-color: lightgray;
    cursor: pointer;
}
</style>

<template>
    <li class="list-group-item" @click="go_to_fundraiser">
        <h4>{{ fundraiser.name }}</h4>
        <h6 class="mb-2">
            <span v-if="fundraiser.rating === null">No ratings yet</span>
            <span v-else><i class="far fa-star mr-2"></i>{{ fundraiser.rating.toFixed(1) }}</span>
        </h6>
        <p>{{ fundraiser.description }}</p>
    </li>
</template>
<script>
export default {
    props: {
        fundraiser: {
            type: Object,
            required: true
        }
    },

    methods: {
        go_to_fundraiser() {
            window.location = `fundraiser/${this.fundraiser.id}`;
        }
    }
};
</script>
