<template>
    <div>
        <div class="row mb-1">
            <div class="col m6">
                <h3>Fundraisers</h3>
            </div>
        </div>
        <text-input id="fundraiser-search-term" placeholder="Search for a fundraiser" title="Search" v-model="search_term"></text-input>
        <ul class="list-group">
            <fundraiser v-for="(fundraiser, key) in filtered_fundraisers" :key="key" :fundraiser="fundraiser"></fundraiser>
        </ul>
        <fundraiser-not-found></fundraiser-not-found>
    </div>
</template>
<script>
export default {
    data() {
        return {
            loading: true,
            fundraisers: [],
            search_term: ''
        };
    },

    mounted() {
        this.get_fundraisers();
        Event.listen('fundraiser-created', fundraisers => (this.fundraisers = fundraisers));
    },

    methods: {
        get_fundraisers() {
            this.loading = true;

            axios.get('/fundraisers').then(
                response => {
                    this.loading = false;
                    this.fundraisers = response.data;
                },
                error => {}
            );
        }
    },

    computed: {
        filtered_fundraisers() {
            if (!this.search_term) {
                return this.fundraisers;
            }
            return this.fundraisers.filter(fundraiser => {
                return fundraiser.name.toLowerCase().includes(this.search_term);
            });
        }
    }
};
</script>
