<template>
    <nav class="navbar navbar-light bg-light mb-3">
        <a class="navbar-brand" href="#">{{ title }}</a>
    </nav>
</template>
<script>
export default {
    props: {
        title: {
            type: String,
            default: ''
        }
    }
};
</script>
