<template>
    <button type="button" :class="`btn btn-primary ${loading ? 'disabled' : ''}`" @click="take_action">
        <slot></slot>
    </button>
</template>
<script>
export default {
    props: {
        action: {
            type: Function,
            default: null
        },
        loading: {
            type: Boolean,
            default: false
        }
    },

    methods: {
        take_action() {
            if (this.action) {
                this.action();
            }
        }
    }
};
</script>
