<style lang="scss" scoped>
i:hover {
    cursor: pointer;
}
.fas {
    color: #0074d9;
}
.fa-star:hover {
    color: #005299;
}
.invalid-feedback {
    display: inline;
}
</style>
<template>
    <div class="mb-2">
        <i :class="index <= rating ? 'fas fa-star mr-2' : 'far fa-star mr-2'" v-for="index in 5" @click="updateRating(index)" :key="index"></i>
        <div class="invalid-feedback" v-if="!isValid">
            {{ invalidFeedback }}
        </div>
    </div>
</template>
<script>
export default {
    props: {
        rating: {
            type: Number,
            required: true
        },
        updateRating: {
            type: Function,
            required: true
        },
        isValid: {
            type: Boolean,
            default: true
        },
        invalidFeedback: {
            type: String,
            default: ''
        }
    },

    data() {
        return {
            hover_rating: 0
        };
    }
};
</script>
