<template>
    <div>
        <div class="row mb-3">
            <div class="col m6">
                <h3>Reviews</h3>
                <h6 class="card-subtitle mb-2"><i class="far fa-star mr-2"></i>Overall Rating: {{ fundraiser_rating }}</h6>
            </div>
            <div class="col m6">
                <primary-button class="float-right" data-toggle="modal" data-target="#create-review-modal">Write a Review</primary-button>
            </div>
        </div>
        <div v-if="loading">
            Loading...
        </div>
        <div v-else>
            <div class="row justify-content-center" v-if="reviews.length === 0">
                <h4>No reviews yet</h4>
            </div>
            <ul class="list-group" v-else>
                <review v-for="(review, key) in reviews" :key="key" :review="review"></review>
            </ul>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        fundraiserId: {
            type: Number,
            required: true
        }
    },

    data() {
        return {
            loading: true,
            reviews: []
        };
    },

    mounted() {
        this.get_reviews();
        Event.listen('review-created', reviews => (this.reviews = reviews));
    },

    methods: {
        get_reviews() {
            axios.get(`/reviews/${this.fundraiserId}`).then(
                response => {
                    this.reviews = response.data;
                    this.loading = false;
                },
                error => {}
            );
        }
    },

    computed: {
        fundraiser_rating() {
            if (this.reviews.length)
                return (this.reviews.reduce((sum, review) => sum + review.rating, 0) / this.reviews.length).toFixed(1);
        }
    }
};
</script>
