<template>
    <li class="list-group-item">
        <div class="row">
            <div class="col s6">
                <h4>
                    {{ review.title }}
                </h4>
                <h6>
                    by {{ review.reviewer_email }}
                </h6>
                <h6>
                    <i class="far fa-star mr-1"></i>
                    {{ review.rating.toFixed(1) }}
                </h6>
            </div>
            <div class="col s6">
                <span class="float-right">{{ review_date }}</span>
            </div>
        </div>
        <div class="row mt-2">
            <div class="col 12">
                <p>{{ review.content }}</p>
            </div>
        </div>
    </li>
</template>
<script>
export default {
    props: {
        review: {
            type: Object,
            required: true
        }
    },

    computed: {
        review_date() {
            return moment(this.review.created_at).format('MMMM Do YYYY, h:mm A');
        }
    }
};
</script>
