<template>
    <div class="form-group">
        <label :for="id" v-if="title">{{ title }}</label>
        <input :type="type" :class="isValid ? 'form-control ' : 'form-control is-invalid'" :id="id" :aria-describedby="describedBy" :placeholder="placeholder" :value="value" v-on:input="$emit('input', $event.target.value)">
        <div class="invalid-feedback" v-if="!isValid">
            {{ invalidFeedback }}
        </div>
    </div>
</template>
<script>
export default {
    props: {
        title: {
            type: String,
            default: null
        },
        id: {
            type: String,
            required: true
        },
        type: {
            type: String,
            default: 'text'
        },
        placeholder: {
            type: String,
            default: ''
        },
        describedBy: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            defualt: ''
        },
        invalidFeedback: {
            type: String,
            default: ''
        },
        isValid: {
            type: Boolean,
            default: true
        }
    }
};
</script>
