<template>
    <div class="form-group">
        <label :for="id">{{ title }}</label>
        <textarea class="form-control" :id="id" :rows="rows" :placeholder="placeholder" :value="value" v-on:input="$emit('input', $event.target.value)"></textarea>
        <div class="invalid-feedback" v-if="!isValid">
            {{ invalidFeedback }}
        </div>
    </div>
</template>
<script>
export default {
    props: {
        id: {
            type: String,
            required: true
        },
        title: {
            type: String,
            required: true
        },
        placeholder: {
            type: String,
            default: ''
        },
        rows: {
            type: Number,
            default: 3
        },
        value: {
            type: String,
            defualt: ''
        },
        invalidFeedback: {
            type: String,
            default: ''
        },
        isValid: {
            type: Boolean,
            default: true
        }
    }
};
</script>
